$base-color: #141414;
$letters-color: white;

$space: 16px;
$radius: 5px;

@mixin hover-animation {
    transition: transform .2s ease-in-out;
    &:hover{
        transform: scale(1.5);
    }
}

@mixin reset {
    margin: 0;
    padding: 0;
}

body{
    @include reset;
    
    background-color: $base-color;
    color: $letters-color;
    font-family: 'Jost', sans-serif;

    img{
        max-width: 100%;
        height: auto;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        background-color: $base-color;
        padding: $space;

        position: sticky;
        top: 0;

        .header-logo {
            display: flex;
            align-items: center;

            .platform-title{
                margin-left: $space;
            }
        }

        .header-buttons{
            display: flex;

            li{
                list-style: none;
                padding: $space;
                border-radius: $radius;

                &:hover{
                    background-color: white;
                    color: $base-color;
                }
            }
        }
        
    }

    main{
        padding: $space;

        .section-title{
            #top-text::before{
                content:"5";
            }
        }
        .top{
            display: flex;
            justify-content: space-between;
            
            .top-item{
                min-width: 225px;

                @include hover-animation;
            }
        }

        .first,
        .second{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: $space * .25;

            .item{
                min-width: 250px;
                height: auto;

                @include hover-animation;
            }
        }
    }

    footer{
        padding: $space;
        text-align: center;

        &::after{
            content: " \00a9";
        }
    }
}

@media screen and (max-width: 1280px) {
    header{
        .platform-title{
            display: none;
        }
    }
    main{
        .section-title{
            #top-text{
                &::before{
                    display: none;
                }
                &::after{
                    content:"3";
                }
            }
        }

        .top-item{
            &:nth-child(4), &:nth-child(5) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    
    main{
        .top{
            flex-direction: column;
        }
    }
}