<mat-card class="alert">
  <mat-card-content>
    <ul>
      <li>Username: master8@lemoncode.net</li>
      <li>Password: 12345678</li>
    </ul>
  </mat-card-content>
</mat-card>

<form>
  <h1>Login</h1>

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput required />
  </mat-form-field>

  <button mat-raised-button color="primary">Login</button>
</form>
