@import "_text-contrast.scss";


@function lightness ($lightness, $base-color, $i){
    $amount: 5%;

    @if $lightness == 'darken' {
        $changed-color: darken($base-color, $i * $amount);
        @return $changed-color;
    } @else{
        $changed-color: lighten($base-color, $i * $amount);
        @return $changed-color;
    }
}

@mixin change-color($i, $base-color, $lightness ) {

    $changed-color: lightness($lightness, $base-color, $i);

    .#{$lightness}-#{$i}{
        background-color: $changed-color;

        .color-box-text{
            @include text-contrast($changed-color);
            
            &::after{
                content: "#{$changed-color}";
            }
        }
    }
}