:root{
    --header-bg: #cbdf1c;
    --nav-bg: #393e06;
    --main-bg: #f1f1f1;
    --footer-bg: #fbfbe3;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--nav-bg)
}

.container{
    height: 100vh;
}

header h1{
    color: white;
    background-color: var(--header-bg);
    padding: 5px 5px 5px 15px;
    margin: 0;
}

.toolbar{
    display: none;
}

nav{
    background-color: var(--nav-bg);
}

.nav-content{
    padding-top: 5px;
}

nav, .nav-content{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-content h2{
    display: none;
    color: white;
    text-transform: uppercase;

    text-align: center;
    margin: 10px 0;
    padding: 0 5px;
}

ul{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

li{
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--footer-bg);
    text-align: center;
    list-style: none;
    border: 1px solid #c2c2c2;
}

main{
    padding: 30px 10px 10px 10px;

    background-color: var(--main-bg);
}

.card{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0 15px 10px 15px;
    padding: 15px;
    border-radius: 5px;
}

img{
    width: 100px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.name{
    padding-left: 10px;
    text-align: center;
}

footer{
    background-color: var(--footer-bg);
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: .25fr 1fr;
        grid-template-rows: 2fr auto 1fr;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }

    .toolbar{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        padding: 0 15px;
    }

    header{
        grid-area: header
    }

    nav{
        grid-area: nav;
    }

    .nav-content h2{
        display: block;
    }

    ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    li{
        text-align: start;
        margin: 0;
    }

    main{
        grid-area: main;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

    }

    .card{
        flex-direction: column;
        width: 200px;
        height: 150px;
        border: 1px solid black;
    }

    footer{
        grid-area: footer;
    }
}

@media screen and (min-height: 586px) {
    .container{
        grid-template-rows: 2fr 20fr 1fr;
    }
}