@use "sass:list";

@import "_themeA.scss";
// @import "_themeB.scss";

.container{
    padding-left: 50px;
    padding-top: 25px;
}

.box{
    font-weight: bold;
    width: 70px;
    padding: 20px;
    border: 1px grey solid;
    margin-bottom: 5px;
    border-radius: $radius;
}

.base{
    background-color: $base-color;
}

.important{
    background-color: darken($base-color, $amount);
    color: white;
}

.warning{
    background-color: lighten($base-color, $amount);
}

.principal{
    font-family: list.nth($fonts,1);
}

.secondary{
    font-family: list.nth($fonts,2);
}

.shadow{
    @include shadow;
}